.body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1.5fr auto 1fr auto 1.5fr;
}
.title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 100px 40px 100px 30px 100px 30px 100px 40px 100px 40px 100px;
  mix-blend-mode: multiply;
}
.M.letter {
  grid-column: 1 / 2;
  transition: opacity 1s;
}
.O.letter {
  grid-column: 3 / 4;
  transition: opacity 1s;
}
.Y.letter {
  grid-column: 5 / 6;
  transition: opacity 1s;
}
.A.letter {
  grid-column: 7 / 8;
  transition: opacity 1s;
}
.N.letter {
  grid-column: 9 / 10;
  transition: opacity 1s;
}
.G.letter {
  grid-column: 11 / 12;
  transition: opacity 1s;
}
.shape {
  mix-blend-mode: multiply;
}
.M.shape {
  fill: #FFAAA0;
}
.O.shape {
  fill: #FFBE4A;
}
.Y.shape {
  fill: #FCE900;
}
.A.shape {
  fill: #9CF13E;
}
.N.shape {
  fill: #85D4FF;
}
.G.shape {
  fill: #DF8BFF;
}
.instruction {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 8px;
  letter-spacing: 10px;
  mix-blend-mode: multiply;
  transition: opacity 1s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url('dot-bg.png') center center;
  mix-blend-mode: multiply;
}
.anim {
  position: absolute;
  mix-blend-mode: multiply;
}
.hidden {
  opacity: 0;
}
