.body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1.5fr;
  justify-content: center;
  align-items: center;
}
.title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  /* display: none; */
  grid-template-columns: 1fr 100px 40px 100px 30px 100px 30px 100px 40px 100px 40px 100px 1fr;
  mix-blend-mode: multiply;
}
[class*=letter] {
  transform: scale(0);
  opacity: 0;
}
.M.letter {
  grid-column: 2 / 3;
  /* transition: opacity 1s; */
}
.O.letter {
  grid-column: 4 / 5;
  /* transition: opacity 1s; */
}
.Y.letter {
  grid-column: 6 / 7;
  /* transition: opacity 1s; */
}
.A.letter {
  grid-column: 8 / 9;
  /* transition: opacity 1s; */
}
.N.letter {
  grid-column: 10 / 11;
  /* transition: opacity 1s; */
}
.G.letter {
  grid-column: 12 / 13;
  /* transition: opacity 1s; */
}
.shape {
  mix-blend-mode: multiply;
}
.M.shape {
  fill: #FFAAA0;
}
.O.shape {
  fill: #FFBE4A;
}
.Y.shape {
  fill: #FCE900;
}
.A.shape {
  fill: #9CF13E;
}
.N.shape {
  fill: #85D4FF;
}
.G.shape {
  fill: #DF8BFF;
}
.instruction {
  color: grey;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 8px;
  letter-spacing: 10px;
  mix-blend-mode: multiply;

  opacity: 0;
  transform: translateY(5px);
  /* transition: opacity 1s; */
}

.overlay,
.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  mix-blend-mode: multiply;
}
.overlay {
  background: url('dot-bg.png') center center;
}
.noise {
  background-image: url('noise1.png');
  opacity: .5;
}
.anim {
  position: absolute;
  mix-blend-mode: multiply;
}
.blend {
  /* transform: scale(.5); */
}
.hidden {
  opacity: 0;
}
.none {
  display: none;
}
.input {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* height: 100px; */
  font-size: 100px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: underline;
  text-align: center;
  /* color: #FFAAA0; */
  mix-blend-mode: multiply;
  /* border: none; */
}
.playground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('font/bebasneue_bold-webfont.eot');
    src: url('font/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebasneue_bold-webfont.woff') format('woff'),
         url('font/bebasneue_bold-webfont.ttf') format('truetype'),
         url('font/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.textarea {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
